[Unit]
Description=Monitor your Splatoon 3 battles with s3s, with auto NSO app login

[Service]
ExecStart=sh -c "yes | PATH=$HOME/.local/bin:$PATH s3s-nso -M 300 -r"
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target

 